@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans&display=swap');

/*
  Colour palette
*/

$LightGray: #f5f5f5;
$SkyBlue: #87CEEB;
$DarGray: #151515;
$VeryDarkGray: #242424;
$Peach: #FFDAB9;
$Lavender: #E6E6FA;

/*
  Font familys
*/

$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
